<div class="header">
  <h1>Episodios Rick y Morty</h1>
</div>
<div class="row">
  <div class="col-3 col-s-3 menu">
    <ul>
      <li *ngFor="let episodioPaginado of episodios">
        <a href="#" (click)="obtenerEpisodioPorId(episodioPaginado.id)">{{
          episodioPaginado.episode + ". " + episodioPaginado.name
        }}</a>
      </li>
    </ul>
  </div>
  <div class="col-3 col-s-3" *ngIf="episodio.id > 0">
    <h1>{{ episodio.episode + ". " + episodio.name }}</h1>
    <h4>Emisión: {{ episodio.air_Date }}</h4>
    <h2>Personajes</h2>
    <ul>
      <li *ngFor="let character of personajes">
        <a href="#" (click)="obtenerPersonajePorId(character.id)">{{
          character.name
        }}</a>
      </li>
    </ul>
  </div>

  <div class="col-6 col-s-12" *ngIf="personaje.id > 0">
    <div class="aside">
      <div>
        <img [src]="personaje.image" style="width: 100%; height: auto" />
      </div>
      <h2>{{ personaje.name }}</h2>

      <h6>Origen: {{ personaje.origin.name }}</h6>
      <h6>Último avistamiento: {{ personaje.location.name }}</h6>
    </div>
  </div>
</div>
